.bg-color-dark{
    background: #111111;
}

.card{
    margin-top: 5%;
    border: none;
}


.logo{
    width: 15%;
}

.sfondo1{ 
    background-image: url("img.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    border-bottom: 10px solid #00550a;
}
.sfondo2{ 
    background-image: url("img2.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    border-bottom: 10px solid #00550a;
}
.sfondo3{ 
    background-image: url("img3.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    border-bottom: 10px solid #00550a;
}




.testo{
    color: #ffffff;
    position: absolute;
    margin-top: 5%;
}

.card-img-top{
    border-bottom: 10px solid #00550a;
}

.text-color-gold{
    color: #838300 !important; 
}

.border-navbar{
    border-bottom: 2px solid #838300;
}

.testo{
    color: #ffffff;
    position: relative;
    text-align: center;
}


