.form{
    margin-top: 5%;
    width: 40%;
    margin-left: 5%;
}

body{
    background-color: #9e9e9e;
}

form div label{
    font-size: 120%;
}

.input{
    border-radius: 5px !important;
    border: 1px !important;
    border-color: #000000 !important;
    border-style: solid !important;
}

.eye-input{
    border-radius: 5px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border: 1px !important;
    border-right: 0px !important;
    border-color: #000000 !important;
    border-style: solid !important;
}

.eye-bottom{
    border-radius: 5px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border: 1px !important;
    border-color: #000000 !important;
    border-style: solid !important;
    border-left: 0px !important;
    background-color: #ffffff;
}
